@using IlmAcademy.ViewModels
@model PagesViewModel
@{
    ViewBag.Title = Html.Raw(Model?.ContentTypeSlug?.Title);
    ViewBag.MetaDescription = Html.Raw(Model?.ContentTypeSlug?.MetaDescription);
    ViewBag.MetaKeywords = Html.Raw(Model?.ContentTypeSlug?.MetaKeywords);
    ViewBag.OgImage = Model?.ContentTypeSlug?.ImageSource;
}


<div class="site-wrapper-reveal">

    <div class="breadcrumb-area" style="background:url(/assets/images/gallery/students-ilm-academy_20.jpeg) no-repeat top; background-size:cover; z-index:2">
        <div class="slider-mask"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="about-banner-content text-center">
                        <h1 class="mb-15 text-white">@Model.ContentTypeSlug.CustomFields.FirstOrDefault(x => x.Description == "Title").Value</h1>
                        <p class="text-white">@Model.ContentTypeSlug.CustomFields.FirstOrDefault(x => x.Description == "Short Description").Value</p>
                        <div class="mt-4">
                            @* <a href="/courses" class="ht-btn ht-btn-md">Explore Courses</a> *@
                            <a href="/apply-online/1" class="ht-btn ht-btn-md">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Why Study Abroad -->
    <section class="pt-lg-5 pb-lg-5 pt-4 pb-4 bg-light-subtle">
        <div class="container">
            <div class="row">
                <!-- Left Content -->
                <div class="col-lg-8 pe-lg-5">
                    @Html.Raw(Model.ContentTypeSlug.Description)

                    <hr class="my-4">

                    @Html.Raw(Model.ContentTypeSlug.OtherDescription)
                </div>

                <div class="col-lg-4 ms-auto d-none d-lg-block">
                   
                        <div id="form"></div>
                    
                </div>

            </div>
        </div>
    </section>


    <div id="programs" class="section-space--ptb_70 bg-light">

		<div class="container">
			@foreach (var i in Model.ContentTypeSlug.linkedContentItems)
			{
                <div class="section-title-wrap text-center mb-5">
                    <h2 class="heading text-body">@i.contentTitle</h2>
                    <p>@Html.Raw(i.description)</p>
				</div>   }
                <div class="row g-4">
                    @foreach (var other in Model.MiscData.ChildContent)
                    {

                        <div class="col-md-4">
                            <div class="card h-100 shadow-sm p-3">
                            <h5>@other.ContentTitle</h5>
                            <p>@other.ShortDescription</p>
                        </div>
                    </div>
                    }
                   
                </div>
            </div>
     
      
    </div>

    <!-- Services Section -->
    <div class="section-space--ptb_70 bg-white">
        <div class="container">
            @Html.Raw(Model.ContentTypeSlug.ShortDescription)
        </div>
    </div>

    <!-- Why ILM Academy -->
    <div class="section-space--ptb_70 bg-light">
        <div class="container text-center">
            @Html.Raw(Model.ContentTypeSlug.OtherShortDescription)
        </div>
    </div>

    <!-- Contact Section -->
    <div class="contact-us-section-wrappaer processing-contact-us-bg section-space--ptb_70">
        <div class="container">
            <div class="row align-items-center">
                @Html.Raw(Model.ContentTypeSlug.CustomFields.FirstOrDefault(x => x.Description == "Detail").Value)
            </div>
        </div>
    </div>

</div>
